@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 200 5.9% 20%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 50%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 0 0% 40%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}
@layer base {
  .autBg {
    background: radial-gradient(
      circle at 72% 46%,
      #17262f 0,
      #18171c 57%,
      #141414 100%
    );
  }
}

@layer base {
  .bg-gradient-pattern {
    background: radial-gradient(
      circle at 72% 0,
      #17262f 0,
      #18171c 57%,
      #141414 100%
    );
  }
  @media screen and (min-width: 640px) {
    .bg-gradient-pattern {
      background: radial-gradient(
        circle at 72% 46%,
        #17262f 0,
        #18171c 57%,
        #141414 100%
      );
    }
  }

  @media screen and (min-width: 320px) {
    .bg-gradient-pattern {
      background: radial-gradient(
        circle at 100% 0,
        #17262f 0,
        #0c0c0f 27%,
        #100e13 100%
      );
    }
  }
}

html {
  scroll-behavior: smooth;
}

#underline svg {
  position: absolute;
  bottom: -3px;
}

#links-curriculo ul span {
  color: #0066ff;
  text-decoration: none;
  transition: 0.3s;
}

#links-curriculo ul span:hover {
  color: #72a8ff;
}

#curriculo h3 {
  color: #a0e57e;
  font-size: 1.5rem;
  font-weight: 700;
}

.circle {
  background: linear-gradient(to bottom, #ffffff3f 40%, #000000 50%);
  z-index: -1;
}

.circleP {
  background: linear-gradient(to bottom, #ff7f35 40%, #291313 50%);
  z-index: -1;
}

body[data-state="open"] {
  overflow: auto;
  overflow: scroll;
}
